/*navbar*/
.navbar-light .navbar-nav .active>.nav-link {
	border-top: 2px solid $primary;
	color: $primary !important;
}

a.nav-link:hover {
	color: $primary !important;
}

.navbar a,
.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: larger;
	color: $secondary;
}



//SOCIAL navbar

.socialmenuclass a.nav-link,
.mysearchtoggle {
	padding-right: 4px;
	padding-left: 4px;
	color: inherit;
}

/*headlines*/
h1, h2, h3, h4, h5 h6 {
	text-transform: uppercase;
	font-weight: 300;
}

/*footer*/
#wrapper-footer {
	font-size: medium;
	background: white;
	list-style: none;
}

#wrapper-footer a,
#wrapper-footer p,
#wrapper-footer li,
#wrapper-footer button,
#wrapper-footer h2 {
	color: black;
}


//Footer fonts
#wrapper-footer h2{
	font-size: large;
	text-transform: uppercase;
}

//footer + recent post list style
.widget_recent_entries ul,
#wrapper-footer ul {
	padding: 0;
	list-style: none;
	text-align: left;
}

/*hr*/
hr  {
  border-width: 0;
  border-top: 4px dotted currentColor;
  opacity: 0.4;
  width: 30px;
  margin: 20px auto;
}


/*INPUT*/
input {
	border-radius: $borderradius !important;
}

/*right sidebar*/

#right-sidebar {
	text-align: center;
}

//widget-title
h2.widget-title,
h3.widget-title {
	text-align: left;
	padding-bottom: 10px;
}


//tagcloud

.tagcloud a {
    font-size: small !important;
    border: 1px solid;
    margin: 4px;
    padding: 2px;
    border-radius: 5px;
}


/*posts*/
.entry-title,
.entry-meta{
	text-transform: uppercase;
}

/**************kasse*********/

.button {
    color: white !important;
    background-color: $primary !important;
}

/* Rechnungsdetails Labels*/
.form-row {
		@extend .row;
}
.control-label {
	@extend .col-3;
}

/*anmelden*/
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	@extend .col;
}

/*100% Breite Eingabe*
.woocommerce-billing-fields__field-wrapper .form-row {
	width: 100%!important;
}

/* 70% with input field*
.woocommerce-input-wrapper {
	width: 70%;
}

/*Bestellnotiz 100% Breite*
#order_comments_field > span {
	width: 100%!important
}

/*********Bestellung erhalten****/
.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}
.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}

/*backend admin menu grün*/
li#toplevel_page_woocommerce,
li#menu-posts-product {
	background-color: green!important;
}

/*Produktseite*/

div.summary.entry-summary > div.product_meta > span {
	display: block;
	font-size: smaller;
}

#svg8,
svg {
	max-width: 80%;
	height: 20%;
}

/* product filter style*/
aside {
	padding: 0.5em 0;
}


/*recent products*/
.widget_recently_viewed_products {
	padding-top: 2em;
	padding-right: 3em;
	margin-top: 1em;
	border-top: 1px solid;
}
.widget_recently_viewed_products .small-business-info {
	display:none;
}

/*left sidebar not on product*/
.single #left-sidebar,
/*left sidebar not on meinkonto*/
.page-id-22 #left-sidebar,
/*left sidebar not on kasse*/
.page-id-21 #left-sidebar,
/*left sidebar not on warenkorb*/
.page-id-20 #left-sidebar {
	display:none;}

/*********navbar sticky*********/
/*Handy und Tablet*/
@media only screen and (max-width: 950px) {
#masthead {
		position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
		}
}

/*Desktop nur navbar sticky-top*/
@media only screen and (min-width: 950px) {
.navbar-expand-lg {
		position: -webkit-sticky!important;
    position: sticky!important;
    top: 0;
    z-index: 1020;
		}
}
